:root {
    --guide-color-1: magenta;
    --guide-color-2: cyan;
    --guide-color-3: yellow;

    --color-1: #163333;
    --color-2: #21461e;
    --color-3: #7a6e35;
    --color-4: #b65f76;
    --color-5: #c5a6d5;
    --color-6: #d9e2ed;
    --color-7: #ecf6f0;
    --color-shadow: hsl(334 63% 7% / .15);
}

body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* main grid */

.grid-container {
    height: 100vh;
    background-color: var(--color-6);
    /* width: 1440px; */
    /* height: 1024px; */
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(1fr, 4fr)); */
    /* grid-template-columns: 1fr 4fr; */
    grid-template-rows: 1fr 6fr;
    gap: 0;
    /* just a reminder */
}

aside {
    grid-column: 1 / 2;
    grid-row: 1 / span 6;
}

header {
    grid-column: 2 / span 3;
}

main {
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* aside */

aside {
    font-weight: 600;
    background-color: var(--color-1);
    color: var(--color-7);
    padding: 1.5rem 3.5rem 1.5rem 1.5rem;
    display: grid;
    grid-template-rows: 1fr 4fr 3fr 1fr 1fr;
    align-items: start;
    box-shadow: 3px 0px 3px -1px hsla(180, 40%, 14%, .5);
}

.brand {
    display: grid;
}

.nav {
    display: grid;
    gap: 1.5rem;
}

.settings {
    display: grid;
    gap: 1.5rem;
}

aside a {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

aside .logo {
    width: 3rem
}

aside .logo+.menu-item {
    font-size: 1.75rem;
}

aside .icon {
    width: 1.75rem;
}

aside svg {
    fill: var(--color-7);
    place-self: center;

    transition: fill 0.3ms ease-in-out;
}

aside svg:hover {
    fill: var(--color-5);
}

aside>.nav> :last-child>svg {
    margin-bottom: 2px;
    width: 2rem;
}

aside .menu-item {
    font-size: 1.25rem;
    color: var(--color-7);
    transition: color 0.3ms ease-in-out;
}

aside .menu-item:hover {
    color: var(--color-5);
}

/* main */

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    align-self: end;
    margin-bottom: .325rem;
}

h4 {
    font-size: 1.125rem;
}

main {
    padding-left: 1.25rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 1.5rem;
}

main .projects {
    grid-column: 1 / span 1;
    grid-row: 1 / span 6;

    display: grid;
    grid-template-rows: 3rem 1fr;
}

main .cards {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

main .information {
    grid-column: 2 / 3;
    grid-row: 1 / span 6;

    display: grid;
}

.card {
    background-color: var(--color-7);
    padding: 1.5rem 1.5rem;
    border-left: .5rem solid var(--color-2);
    border-radius: .5rem;
    min-height: 220px;
    display: grid;

    box-shadow:
        1px 1px 4px -1px hsla(180, 40%, 14%, .12),
        2px 2px 8px -1px hsla(180, 40%, 14%, .12);
}

.card .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-self: end;
    gap: 1.75rem;
}

.card .description {
    display: grid;
    gap: 0.25rem;
    align-self: start;
}

.card svg {
    width: 1.75rem;
}

.cards .card {
    grid-template-rows: 2fr 0.5fr;
}

main .announcements {
    display: grid;
    grid-template-rows: 3rem 1fr;
}

.announcements h4 {
    font-size: .875rem;
}

.announcements .card,
.trending .card {
    border: none;
}

.announcements .card {
    padding: 1rem 1.5rem;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 1fr);
}

.announcements .divider {
    height: 1px;
    background-color: var(--color-7);
}

.announcements .anounce {
    display: grid;
    align-self: center;
    gap: 0.25rem;
}

.announcements p {
    font-size: 0.75rem;
    opacity: .8;
    line-height: 1.25;
}

main .trending {
    display: grid;
    grid-template-rows: 3rem 1fr;
}

.trending .card {
    padding: 1.25rem 1.5rem;
    /* gap: 1.5rem; */
}

.trending .trend {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 1rem;
    align-items: center;
}

.mini-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.card :nth-child(1) .mini-avatar {
    background-image:
        url("/assets/avatars/01_avatar.jpeg");
    background-position: center;
    background-size: cover;
    filter: contrast(200%) hue-rotate(80deg);
}

.card :nth-child(2) .mini-avatar,
.icon+.mini-avatar {
    background-image:
        url("/assets/avatars/02_avatar.jpeg");
    background-position: center;
    background-size: cover;
    filter: contrast(200%) hue-rotate(210deg);
}

.card :nth-child(3) .mini-avatar {
    background-image:
        url("/assets/avatars/03_avatar.jpeg");
    background-position: center;
    background-size: cover;
    filter: contrast(200%) hue-rotate(250deg);
}

.card :nth-child(4) .mini-avatar {
    background-image:
        url("/assets/avatars/04_avatar.jpeg");
    background-position: center;
    background-size: cover;
    filter: contrast(200%) hue-rotate(140deg);
}

.trending .user-info {
    display: grid;
    gap: .375rem;
}

.trending .user-tag {
    font-weight: 600;
    line-height: 1;
}

.trending .user-tag+p {
    opacity: 0.7;
    line-height: 1;
}

/* header */

header {
    padding: 1.5rem 4rem 2rem 3rem;
    display: grid;
    background-color: var(--color-7);
    grid-template-rows: 1fr 2fr;
    box-shadow: 0px 1px 8px -3px hsla(180, 40%, 14%, .5)
}

header svg {
    width: 2rem;
}

header .top {
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 3rem;
    align-items: stretch;
}

header .top-left {
    display: grid;
    grid-template-columns: 2rem 4fr;
    gap: 1rem;
    align-items: center;
}

.top-left>svg {
    transform: scaleX(-1);
}

input[type="search"] {
    height: 2rem;
    border-radius: 2rem;
    background-color: var(--color-6);
    border: none;
    box-shadow: inset 1px 1px 4px 0px var(--color-shadow);
    padding-left: 2rem;
    width: 85%;
}

input[type="search"]:focus {
    outline: 2px solid var(--color-2);
}

header .top-right {
    height: 100%;
    display: grid;
    grid-template-columns: .75fr 1fr 1.75fr;
    align-items: center;
    justify-items: end;
}

.top-right h3 {
    margin: 0;
    align-self: center;
}

.top-right .mini-avatar {
    justify-self: center;
}

.top-right svg {
    justify-self: center;
}

header .bottom {
    display: grid;
    grid-template-columns: 4fr 2fr;
    align-items: end;
}

header .bottom-left {
    display: grid;
    grid-template-columns: 4rem 1fr;
    gap: 1.5rem;
}

.bottom-left .avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-image:
        url("/assets/avatars/02_avatar.jpeg");
    background-position: center;
    background-size: cover;
    filter: contrast(200%) hue-rotate(210deg);
}

.bottom-left .user-name {
    display: grid;
    font-weight: 500;
    align-items: center;
}

.user-name>.greetings {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
}

header .bottom-right {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 1rem;
}

.dashboard-button {
    padding: .5rem 1rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    background-color: var(--color-1);
    color: var(--color-7);
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    /* box-shadow: */
        /* inset 1px 1px 4px 0px rgba(230, 193, 251, 0.7), */
        /* inset -1px -1px 4px 0px rgba(29, 7, 16, 0.4); */
}

.dashboard-button:hover {
    transform: scale(98%);
    /* box-shadow: */
        /* inset 2px 2px 4px 0px rgba(230, 193, 251, 0.7), */
        /* inset -2px -2px 4px 0px rgba(29, 7, 16, 0.4); */
    background-color: var(--color-4);
}

main svg, header svg {
    fill: var(--color-1);
    transition: fill 0.3s ease-in-out;
}

main svg:hover, header svg:hover {
    fill: var(--color-4);
}