:root {
    --guide-color-1: magenta;
    --guide-color-2: cyan;
    --guide-color-3: yellow;


    --color-2: #911d5a;
    --color-7: #e6c1fb;
    --color-8: #FEFFFE;
    --color-shadow: hsl(334 63% 7% / .3);
}

body {
    font-family:  Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* technical colors */


header {
    background-color: var(--guide-color-3);
}

.card {
    border: 1px solid var(--guide-color-1);
}

/* main grid */

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    gap: 0; /* just a reminder */
}

aside {
    grid-column: 1 / 2;
    grid-row: 1 / span 6;
}

header {
    grid-column: 2 / span 3;
    opacity: 0.1;
}

main {
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* aside */

aside {
    font-weight: 600;
    background-color: var(--color-2);
    color: var(--color-8);
    padding: 1.5rem 1rem;
    display: grid;
    grid-template-rows: 1fr 4fr 3fr 1fr 1fr;
    align-items: start;

    box-shadow: 1px 1px 3px -1px var(--color-shadow);
}

.brand {
    display: grid;
}

.nav {
    display: grid;
    gap: 1.5rem;
}

.settings {
    display: grid;
    gap: 1.5rem;
}

aside a {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

aside .logo {
    width: 3rem
}

aside .logo + .menu-item {
    font-size: 2rem;
}

aside .icon {
    width: 1.75rem;
}

aside svg {
    fill: var(--color-8);
    place-self: center;
}

aside > .nav > :last-child > svg {
    margin-bottom: 2px;
    width: 2rem;
}

aside .menu-item {
    font-size: 1.5rem;
}

/* Why some icons stretch so much, but others don't? Task for later. */

/* main */

main {
    background-color: var(--color-7);
}

main .card {
    background-color: var(--color-8);
}